.featuredItems{
    display: flex;
    justify-content: space-between;
    gap:1rem;
}

.featuredItem{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    width: 100%;
}
.featuredItem h2{
    color: white;
}

.featuredImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms;
}

.featuredImg:hover{
    transform: scale(1.05);
}

.titles{
    position: absolute;
    bottom: 5%;
    background: rgba(0,0,0,.2);
    width: 100%;
}