.search{
    background: white;
    border: 2px solid orange;
    border-radius: 5px;
    display: flex;
    gap: .3rem;
    padding: .3rem .5rem;
    justify-content: space-between;
    color: lightgray;
}
.searchBar{
    z-index: 1000;
}

.icon{
    font-size: 1.5rem;

}

.search-item{
    display: flex;
    align-items: center;
    background: white;
    gap: 10px;
    color: #c2c2c2;


}

input{
    padding: 1rem 0rem;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;

}

.searchHotel{
    background: #3088ff;
    color: white;
    padding: .9rem;
    border-radius: 10px;
    cursor: pointer;
}



.four a{
    color: white;
    font-size: 1.2rem;
}

.date{
    position: absolute;
    top: 100%;
}

.openOptions{
    position: absolute;
    top: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    border-radius: 10px;
    background: white;

}

.option{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.optionsWrapper{
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
}

.optionCounterButton{
    width: 2rem;
    height: 2rem;
    border: 1px solid darkcyan;
    font-size: 1rem;
    cursor: pointer;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}